<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br>
		<form action="/noticias/salvar" method="post">
			<label>Título</label>
			<input type="text" name="titulo" id="title" value="" placeholder="Título da notícia">
			<br>

			<label>Resumo</label>
			<input type="text" name="resumo" id="resumo" value="" placeholder="Resumo da notícia">
			<br>

			<label>Data</label>
			<input type="date" name="datanoticia" id="datanoticia" value="" placeholder="Data da notícia">
			<br>

			<label>Autor</label>
			<input type="text" name="autor" id="autor" value="" placeholder="Autor da notícia">
			<br>

			<label>Notícia</label>
			<textarea name="noticia" id="noticia" rows="5" cols="30"></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>