<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia :: <%= noticia[0]['titulo']%></title>
		</head>
	<body>

		<h1><%= noticia[0]['titulo']%></h1>
		<div>
			<%= noticia[0]['noticia']%>
		</div>
	</body>
</html>